
/* Sticky Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}
.modal-open[style] {
    padding-right: 0px !important;
}

.box {
    display: inline-block;
}

.progress-circle {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #21252900
}

.progress-circle > .inner {
    position: absolute;
    color: white;
}

.progress-circle > svg {
    height: 100%;
    display: block;
}