<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="~{ fragments/include :: include}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Break The Earth</title>

</head>

<body class="">

<!--Header-->
<div th:insert="~{ fragments/header :: header}"></div>

<script type="text/javascript" th:src="@{/main.js}"></script>

<div th:insert="~{ admin/userFragment :: userFrag}" id="userTable"></div>

</body>

</html>