<div class="container-fluid" th:fragment="aboutUsHeaderImage">
  <img th:src="@{/images/about-us/petroglyph_band_2.jpg}" class="img-fluid" alt="petroglyph_band_2.jpg">
  <div class="container mt-3 text-light">
    <p>
      Hailing from Albuquerque, NM, Break The Earth combine an eclectic mix of metal styles to form their own sound.
      From extreme and technical death metal to ambient washes of sound, Break the Earth has been all over the place
      trying to figure out what the heck is happening. Break the Earth is Paul Sanchez, Connor Pino, Hiram Viezca, and
      Patrick Duffy.
    </p>
  </div>
</div>
