<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="~{ fragments/include :: include}">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Break The Earth</title>
</head>

<body class="bg-dark">

	<!--Header-->
	<div th:insert="~{ fragments/header :: header}"></div>

	<!--Main page header image-->
	<div th:insert="~{ main-content/headerImage :: headerImage}"></div>
	
	<!--Now Available section-->
	<div th:insert="~{ main-content/now-available :: now-availableFragment}"></div>

	<!--Video section-->
	<div th:insert="~{ main-content/video :: videoFragment}"></div>

	<!--Coming Soon section-->
	<div th:insert="~{ main-content/coming-soon :: coming-soon}"></div>

	<!--Events section-->
	<div th:insert="~{ main-content/events-frag :: events-frag}"></div>

	<!--Footer-->
	<div th:insert="~{ fragments/footer :: footer}"></div>

</body>

</html>