<body th:fragment="merch">
    <div class="card bg-dark pb-4" id="merch">
        <div class="container-fluid">
            <div class="card bg-image" style="background: url('/images/merch/devil_is_real_img_3.png');
                                              background-position: center;
                                              background-size: cover;
                                              background-repeat: no-repeat;">
                <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.7);
                                                    position: relative;">
                    <div class="card-header">
                        <!--Section Header-->
                        <h1 class="p-2">Merch</h1>
                    </div>
                    <div class="card-body">
                        <!--Container to hold merch images -->
                        <div class="container">
                            <div class="row py-2 row-cols-sm-4 justify-content-evenly">
                                <div class="col d-flex justify-content-center">
                                    <div class="row row-cols-1">
                                        <div class="col d-flex justify-content-center">
                                            <a target="_blank" href="https://break-the-earth.creator-spring.com/listing/break-the-earth-t-shirt?product=2">
                                                <img style="width:250px; height:250px; "
                                                     th:src="@{/images/merch/bte_tee.png/}"/>
                                            </a>
                                        </div>
                                        <div class="col d-flex justify-content-center">
                                            <span class="fs-3">BTE Tee $20</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-flex justify-content-center">
                                    <div class="row row-cols-1">
                                        <div class="col d-flex justify-content-center">
                                            <a target="_blank" href="https://break-the-earth.creator-spring.com/listing/break-the-earth-t-shirt?product=117">
                                                <img style="width:250px; height:250px; "
                                                     th:src="@{/images/merch/bte_tank.png/}"/>
                                            </a>
                                        </div>
                                        <div class="col d-flex justify-content-center">
                                            <span class="fs-3">BTE Tank $23</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-flex justify-content-center">
                                    <div class="row row-cols-1">
                                        <div class="col d-flex justify-content-center">
                                            <a target="_blank" href="https://break-the-earth.creator-spring.com/listing/break-the-earth-t-shirt?product=95">
                                                <img style="width:250px; height:250px; "
                                                     th:src="@{/images/merch/bte_flowy_tank.png/}"/>
                                            </a>
                                        </div>
                                        <div class="col d-flex justify-content-center">
                                            <span class="fs-3">BTE Flowy Tank $27</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-flex justify-content-center">
                                    <div class="row row-cols-1">
                                        <div class="col d-flex justify-content-center">
                                            <a target="_blank" href="https://break-the-earth.creator-spring.com/listing/break-the-earth-t-shirt?product=226">
                                                <img style="width:250px; height:250px; "
                                                     th:src="@{/images/merch/bte_v_tee.png/}"/>
                                            </a>
                                        </div>
                                        <div class="col d-flex justify-content-center">
                                            <span class="fs-3">BTE V-Tee $24</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>