<body th:fragment="now-availableFragment">
	<!--Main Card for Now Available section-->
	<div class="card-bg-dark py-5">
		<!--Container to hold background image Card-->
		<div class="container-fluid">
			<!--Background image. No bootstrap utilities for background image to work with content for mobile size. Needed to do in-line CSS-->						
			<div class="card bg-image"
				style="background-image: url('images/now-available/Devil is Real Img_11.png'); height: 1020px;">
				<div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.7);">
					<!--Section Header-->
					<h1 class="p-2">Now Available</h1>
					<!--Container to hold album cover art and track list-->
					<div class="container my-4 position-absolute top-50 start-50 translate-middle">
						<div class="row ">
							<!--Album cover art-->
							<div class="col-sm ">
								<div class="card">
									<img class="card-img" src="/images/now-available/BTEFrontCover.jpg" alt="Numbered Days Cover">
								</div>
							</div>
							<!--Track list-->
							<div class="col-sm ">
								<div class=" bg-transparent">
									<div class="row">
										<!--Album name-->
										<div class="col-sm">
											<h3 class="card-title fs-2">
												<p>Numbered Days</p>
											</h3>
										</div>
										<div class="row">
											<!--Social media links-->
											<div class="col-sm">
												<div class="card-text">
													<a class="btn btn-white btn-lg btn-floating" href="#!"
														role="button">
														<i class="fab fa-apple fa-lg"></i>
													</a>
													<a class="btn btn-white btn-lg btn-floating mx-2" href="#!"
														role="button">
														<i class="fab fa-spotify fa-lg"></i>
													</a>
													<a class="btn btn-white btn-lg btn-floating" href="#!"
														role="button">
														<i class="fab fa-youtube fa-lg"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
									<!--Track names-->
									<div class="row justify-content-start">
										<div class="col-sm fs-4">
											<ul class="list-unstyled my-1">
												<li>FIRST BLOOD</li>
												<li>SKIN OF EVIL</li>
												<li>THE DEAD ENDS</li>
												<li>REVENGELESS</li>
												<li>STONEHAND</li>
												<li>DIGITAL SUICIDE</li>
											</ul>
										</div>
										<div class="col-sm fs-4 ">
											<ul class="list-unstyled my-1">
												<li>LAST SUNRISE</li>
												<li>MORTAL COILS UNWOUND</li>
												<li>EVENT HORIZON</li>
												<li>NIGHTMARE BEAST</li>
												<li>CLOUDS BELOW DIVINITY</li>
												<li>THE END IS HERE</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid" >
			<iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/7oy75shWbVabwH2rG8J3iC?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
		</div>
	</div>
</body>