<body th:fragment="test">
<script type="text/javascript" th:src="@{/index.js}"></script>

<div class="card bg-dark pb-5">
    <div class="container-fluid">
        <div class="card bg-image text-white px-4 py-4" style="background-image: url('images/coming-soon/Devil is Real Img_6_xl.jpg');
															   background-position: center;
															   background-repeat: no-repeat;
															   background-size: cover;
															   position: relative;">

            <h1 class="p-2 text-center mt-3 mb-4 mx-auto"
                th:text="${album.albumName} + ' (Coming in ' + ${album.albumYear} + ')'"
            >Album Name</h1>
            <input type="hidden" id="albumPercent" th:value="${album.getAlbumCompletionPercent}">

            <div class="row">

                <!--Progress Circle-->
                <div class="col mx-auto text-center mt-4 mb-2">

                    <div class="box">
                        <div class="progress progress-circle" id="progress">
                            <div class="inner">
                                <h1 id="albumPercentTracker">100%</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Album Track Accordians-->
                <div class="col-sm-12 col-lg-9 bg-dark" style="border-radius: 10px;">
                    <div class="accordion mb-3" id="albumThing">
                        <div class="row mt-4 mx-auto justify-content-evenly ">
                            <div class="col-sm-2 my-auto text-white">

                            </div>
                            <div class="col-4">
                                <div class="form-check ">
                                    <label class="form-check-label" for="isMixed">
                                        Mixed
                                    </label>
                                    <input class="form-check-input" type="checkbox"
                                           th:checked="${album.isMixed}"
                                           value="" id="isMixed" onclick="this.checked=!this.checked;">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <label class="form-check-label" for="isMastered">
                                        Mastered
                                    </label>
                                    <input class="form-check-input" type="checkbox"
                                           th:checked="${album.isMastered}"
                                           value="" id="isMastered" onclick="this.checked=!this.checked;">
                                </div>
                            </div>
                        </div>


                        <div th:each="track : ${album.trackList}" class="accordion-item bg-dark">
                            <h2 class="accordion-header" th:id="'headingOne' + ${track.id}">
                                <!-- Begin Accordion - button bg-dark for button to be dark -->
                                <button class="accordion-button collapsed bg-dark" type="button"
                                        data-bs-toggle="collapse"
                                        th:data-bs-target="'#collapseOne'+${track.id}">
                                    <div class="row" style="width: 100%;">

                                        <div class="col-sm-2 my-auto text-white"
                                             th:text="${track.trackName}">

                                        </div>

                                        <!--Begin Progress Bar-->
                                        <div class="col-sm-10 my-auto">
                                            <div class="col progress"
                                                 style="margin: 0 auto; height: 30px; border-radius: 5px;">
                                                <div th:if="${track.isVocals}"
                                                     class="progress-bar bg-danger"
                                                     role="progressbar"
                                                     style="width: 25%"
                                                     aria-valuenow="15" aria-valuemin="0"
                                                     aria-valuemax="100"
                                                     th:text="${track.getTrackCompletionPercentFormatted} + '%'"></div>
                                                <div th:if="${track.isGuitar}"
                                                     class="progress-bar bg-danger"
                                                     role="progressbar"
                                                     style="width: 25%" aria-valuenow="30" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                                <div th:if="${track.isBass}" class="progress-bar bg-danger"
                                                     role="progressbar"
                                                     style="width: 25%" aria-valuenow="20" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                                <div th:if="${track.isDrums}" class="progress-bar bg-danger"
                                                     role="progressbar"
                                                     style="width: 25%"
                                                     aria-valuenow="20" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>
                                        </div>

                                    </div>
                                </button>

                            </h2>
                            <!--bg-dark class for main dropdown panel background-->
                            <div th:id="'collapseOne'+${track.id}"
                                 class="accordion-collapse collapse bg-dark"
                                 aria-labelledby="headingOne" th:data-bs-parent="'#albumThing'">
                                <div class="accordion-body">
                                    <div class="row" style="width: 100%;">

                                        <div class="col-0 col-md-2 text-white"></div>

                                        <!--Begin Progress Bar-->
                                        <div class="col-10">
                                            <div class="row mx-auto">
                                                <div class="col-4 col-xlg-auto text-white"
                                                     th:text="'Progress:'"></div>
                                                <div class="col-4 col-xlg-auto form-check form-check-inline"
                                                     style="margin: 0 auto;">
                                                    <input class="form-check-input" type="checkbox"
                                                           id="inlineCheckbox1"
                                                           value="option1" th:checked="${track.vocals}"
                                                           onclick="this.checked=!this.checked;">
                                                    <label class="form-check-label"
                                                           for="inlineCheckbox1">Vocals</label>
                                                </div>
                                                <div class="col-4 col-xlg-auto form-check form-check-inline"
                                                     style="margin: 0 auto;">
                                                    <input class="form-check-input" type="checkbox"
                                                           id="inlineCheckbox2"
                                                           value="option2" th:checked="${track.guitar}"
                                                           onclick="this.checked=!this.checked;">
                                                    <label class="form-check-label"
                                                           for="inlineCheckbox2">Guitar</label>
                                                </div>
                                                <div class="col-4 col-xlg-auto text-white"></div>
                                                <div class="col-4 col-xlg-auto form-check form-check-inline"
                                                     style="margin: 0 auto;">
                                                    <input class="form-check-input" type="checkbox"
                                                           id="inlineCheckbox3"
                                                           value="option3" th:checked="${track.bass}"
                                                           onclick="this.checked=!this.checked;">
                                                    <label class="form-check-label"
                                                           for="inlineCheckbox3">Bass</label>
                                                </div>
                                                <div class="col-4 col-xlg-auto form-check form-check-inline"
                                                     style="margin: 0 auto;">
                                                    <input class="form-check-input" type="checkbox"
                                                           id="inlineCheckbox4"
                                                           value="option4" th:checked="${track.drums}"
                                                           onclick="this.checked=!this.checked;">
                                                    <label class="form-check-label"
                                                           for="inlineCheckbox4">Drums</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>