<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="~{ fragments/include :: include}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Break The Earth</title>

</head>

<body class="">

<!--Header-->
<div th:insert="~{ admin/admin-fragments/admin-header.html :: admin-header}"></div>

<div th:insert="~{ coming-soon/coming-soon-menu-frag :: comingSoonMenu }"></div>

</body>

</html>