<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="~{ fragments/include :: include}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Booking</title>
</head>
<body class="bg-dark text-light">

<!--Header-->
<div th:insert="~{ fragments/header :: header}"></div>
<div class="container mx-auto m-5">
    <div class="fs-1 text-center">Booking</div>
</div>

<!-- Begin Content -->
<div class="container-fluid vh-100">
    <form name="bookingForm" id="bookingForm" action="#" th:action="@{/bookingSubmit}" th:object="${booking}" method="post">
        <div class="container">
            <div class="row my-3 justify-content-between">
                <div class="col-lg-4">
                    <input class="form-control form-control-lg" name="venue" id="venue" type="text" placeholder="Venue Name" th:field="*{event.venue.venue_name}" required>
                </div>
                <div class="col-4 form-group">
                    <input class="form-control form-control-lg" name="eventDate" id="eventDate" placeholder="Event Date MM/DD/YYYY" type="text" th:field="*{event.event_date}" autocomplete="off" required>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <input class="form-control form-control-lg" name="address" id="address" type="text" placeholder="address" th:field="*{event.venue.venue_address}" required>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-4">
                    <input class="form-control form-control-lg" name="city" id="city" type="text" placeholder="city" th:field="*{event.venue.venue_city}" required>
                </div>
                <div class="col-4">
                    <select class="form-control form-control-lg form-select-lg" name="state" id="state" th:field="*{event.venue.venue_state}" required>
                        <option selected value="0">State</option>
                        <option value="AL">AL</option>
                        <option value="AK">AK</option>
                        <option value="AZ">AZ</option>
                        <option value="AR">AR</option>
                        <option value="CA">CA</option>
                        <option value="CO">CO</option>
                        <option value="CT">CT</option>
                        <option value="DE">DE</option>
                        <option value="FL">FL</option>
                        <option value="GA">GA</option>
                        <option value="HI">HI</option>
                        <option value="ID">ID</option>
                        <option value="IL">IL</option>
                        <option value="IN">IN</option>
                        <option value="IA">IA</option>
                        <option value="KS">KS</option>
                        <option value="KY">KY</option>
                        <option value="LA">LA</option>
                        <option value="ME">ME</option>
                        <option value="MD">MD</option>
                        <option value="MA">MA</option>
                        <option value="MI">MI</option>
                        <option value="MN">MN</option>
                        <option value="MS">MS</option>
                        <option value="MO">MO</option>
                        <option value="MT">MT</option>
                        <option value="NE">NE</option>
                        <option value="NV">NV</option>
                        <option value="NH">NH</option>
                        <option value="NJ">NJ</option>
                        <option value="NM">NM</option>
                        <option value="NY">NY</option>
                        <option value="NC">NC</option>
                        <option value="ND">ND</option>
                        <option value="OH">OH</option>
                        <option value="OK">OK</option>
                        <option value="OR">OR</option>
                        <option value="PA">PA</option>
                        <option value="RI">RI</option>
                        <option value="SC">SC</option>
                        <option value="SD">SD</option>
                        <option value="TN">TN</option>
                        <option value="TX">TX</option>
                        <option value="UT">UT</option>
                        <option value="VT">VT</option>
                        <option value="VA">VA</option>
                        <option value="WA">WA</option>
                        <option value="WV">WV</option>
                        <option value="WI">WI</option>
                        <option value="WY">WY</option>
                    </select>
                </div>
                <div class="col-4">
                    <input class="form-control form-control-lg" name="zip" id="zip" type="text" placeholder="zip" th:field="*{event.venue.venue_zip}" required >
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <textarea class="form-control form-control-lg" name="message" id="message" type="textarea" placeholder="message" rows="5" th:field="*{message.message}" required ></textarea>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-4">
                    <input class="form-control form-control-lg" name="contact" id="contact" type="text" placeholder="contact" th:field="*{event.venue.contact.contact_name}" required>
                </div>
                <div class="col-4">
                    <input class="form-control form-control-lg" name="email" id="email" type="text" placeholder="email" th:field="*{event.venue.contact.contact_email}" required>
                </div>
                <div class="col-4">
                    <input type="submit" value="Submit" id="toastBtn" class="btn btn-primary btn-block btn-lg">

                    <!--Toast-->
                    <div class="position-fixed top-0 start-50 p-3" style="z-index: 11">
                        <div class="toast bg-danger" id="liveToast" role="alert" aria-live="polite" aria-atomic="true">
                            <div class="toast-header text-black bg-danger">
                                <strong class="mx-auto">Thank you!</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body text-black text-center">
                                <strong>One of us will get back to you soon.</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<div th:insert="~{ fragments/footer :: footer}"></div>

<!-- Script for Datepicker-->
<script type="text/javascript" th:src="@{/users.js}"></script>
</body>
</html>