<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="~{ fragments/include :: include}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Booking</title>
</head>
<body class="bg-dark text-light">

<!--Header-->
<div th:insert="~{ fragments/header :: header}"></div>
<div class="container mx-auto m-5">
    <div class="fs-1 text-center">Booking</div>
</div>

<!-- Begin Content -->
<div class="container-fluid vh-100">
    <form name="bookingForm" id="bookingForm" action="#" th:action="@{/bookingSubmit}" th:object="${booking}" method="post">
        <div class="container">
            <div class="row my-3 justify-content-between">
                <div class="col-lg-4">
                    <input class="form-control form-control-lg" name="venue" id="venue" type="text" placeholder="Venue Name" th:field="*{event.venue.venue_name}" required>
                </div>
                <div class="col-4 form-group">
                    <input class="form-control form-control-lg" name="eventDate" id="eventDate" placeholder="Event Date MM/DD/YYYY" type="text" th:field="*{event.event_date}" autocomplete="off" required>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <input class="form-control form-control-lg" name="address" id="address" type="text" placeholder="address" th:field="*{event.venue.venue_address}" required>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-4">
                    <input class="form-control form-control-lg" name="city" id="city" type="text" placeholder="city" th:field="*{event.venue.venue_city}" required>
                </div>
                <div class="col-4">
                    <select class="form-control form-control-lg form-select-lg" name="state" id="state" th:field="*{event.venue.venue_state}" required>
                        <option selected value="0">State</option>
                        <option value="1">AL</option>
                        <option value="2">AK</option>
                        <option value="3">AZ</option>
                        <option value="4">AR</option>
                        <option value="5">CA</option>
                        <option value="6">CO</option>
                        <option value="7">CT</option>
                        <option value="8">DE</option>
                        <option value="9">FL</option>
                        <option value="10">GA</option>
                        <option value="12">HI</option>
                        <option value="12">ID</option>
                        <option value="13">IL</option>
                        <option value="14">IN</option>
                        <option value="15">IA</option>
                        <option value="16">KS</option>
                        <option value="17">KY</option>
                        <option value="18">LA</option>
                        <option value="19">ME</option>
                        <option value="20">MD</option>
                        <option value="21">MA</option>
                        <option value="22">MI</option>
                        <option value="23">MN</option>
                        <option value="24">MS</option>
                        <option value="25">MO</option>
                        <option value="26">MT</option>
                        <option value="27">NE</option>
                        <option value="28">NV</option>
                        <option value="29">NH</option>
                        <option value="30">NJ</option>
                        <option value="31">NM</option>
                        <option value="32">NY</option>
                        <option value="33">NC</option>
                        <option value="34">ND</option>
                        <option value="35">OH</option>
                        <option value="36">OK</option>
                        <option value="37">OR</option>
                        <option value="38">PA</option>
                        <option value="39">RI</option>
                        <option value="40">SC</option>
                        <option value="41">SD</option>
                        <option value="42">TN</option>
                        <option value="43">TX</option>
                        <option value="44">UT</option>
                        <option value="45">VT</option>
                        <option value="46">VA</option>
                        <option value="47">WA</option>
                        <option value="48">WV</option>
                        <option value="49">WI</option>
                        <option value="50">WY</option>
                    </select>
                </div>
                <div class="col-4">
                    <input class="form-control form-control-lg" name="zip" id="zip" type="text" placeholder="zip" th:field="*{event.venue.venue_zip}" required >
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <textarea class="form-control form-control-lg" name="message" id="message" type="textarea" placeholder="message" rows="5" th:field="*{message.message}" required ></textarea>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-4">
                    <input class="form-control form-control-lg" name="contact" id="contact" type="text" placeholder="contact" th:field="*{event.venue.contact.contact_name}" required>
                </div>
                <div class="col-4">
                    <input class="form-control form-control-lg" name="email" id="email" type="text" placeholder="email" th:field="*{event.venue.contact.contact_email}" required>
                </div>
                <div class="col-4">
                    <input type="submit" value="Submit" id="toastBtn" class="btn btn-primary btn-block btn-lg">

                    <!--Toast-->
                    <div class="position-fixed top-0 start-50 p-3" style="z-index: 11">
                        <div class="toast bg-danger" id="liveToast" role="alert" aria-live="polite" aria-atomic="true">
                            <div class="toast-header text-black bg-danger">
                                <strong class="mx-auto">Thank you!</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body text-black text-center">
                                <strong>One of us will get back to you soon.</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<div th:insert="~{ fragments/footer :: footer}"></div>

<!-- Script for Datepicker-->
<script type="text/javascript" th:src="@{/main.js}"></script>
</body>
</html>