<!-- Footer section for all outward facing pages.
    Author @ Hiram Viezca-->

<body th:fragment="footer">

<footer class="">
    <div class="container">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted">About Us</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted">Contact Us</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted">Booking</a>
            </li>
            <li class="nav-item">
                <a href="/#videos" class="nav-link px-2 text-muted">Videos</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted">Merch</a>
            </li>
            <li class="nav-item">
                <a href="/#events" class="nav-link px-2 text-muted">Events</a>
            </li>
        </ul>
        <p class="fs-6 fw-lighter text-center text-muted">© 2022 Hiram Viezca & Shawn Fradet</p>
    </div>
</footer>

</body>