<body>
<!--Navbar Header for main page
author @ Hiram Viezca-->
<div th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark transparent">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img style="width:75px; height:55px; "
                                              th:src="@{/images/LogoWhiteOnBlack.jpeg/}"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
    				<i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
				</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="aboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="contactUs">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="booking">Booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/#merch">Merch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Events</a>
                </li>
            </ul>
            <!--Navbar Dropdown Hamburger Menu-->
            <ul class="navbar-nav me-right mb-2 mb-lg-0">
                <li class="nav-item text-muted">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <!--<span class="navbar-toggler-icon"></span>-->
                        Admin
                    </a>
                    <ul sec:authorize="isAnonymous()" class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li >
                            <a class="dropdown-item" href="/login">Login</a>
                        </li>
                    </ul>
                    <ul sec:authorize="isAuthenticated()" class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li >
                            <a class="dropdown-item" href="/BTE/">Admin Home</a>
                        </li>
                        <li >
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
</body>